@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}
p{
    color: #878787;
}
/*top contact section*/
.topContact{

background:  #f0f2f4;
}
.topContact ul{
    vertical-align: middle;
}
.topContact ul li{
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
    vertical-align: baseline-middle;
}
.topContact li i{
    margin-right:  5px;
}
.topContact li a{}
.topContact li a i{
    padding:  6px;
    font-size:  25px;
}
/*top contact section end*/

/*Nav section Start*/
.navWidth{
    padding:  35px 0;
}
.navButton{
  background: black;
  color: #fff;
}
.myNav{}
.myNav ul{}
.myNav ul li{}
.myNav li a{
    color: #484646;
    font-weight:  bold;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.myNav li a:hover{
    color: red;
}
.myNav a i{
    font-size:  12px;
    vertical-align:  text-bottom;
}
.myNavText{
    background:  #de2b24;
    padding:  5px;
    border-radius:  20px;
    font-weight:  bolder;
    text-transform:  capitalize;
    color:  #fff;
}
.myNavText a{
    color: #fff;
    text-decoration: blink;
}
/*Nav section end*/

/*banner section start*/
.banner{
    background: url(../images/banner.jpg);
    height: 92.7vh;
    background-repeat:  no-repeat;
    background-position: center;
    background-size:  cover;
    position:  relative;
}
.bannerText{
    position:  absolute;
    left:  50%;
    top: 50%;
    transform:  translate(-50%,-50%);
    width:  40%;
}
.bannerText h2{
    
font-size:  45px;
    
font-weight:  bolder;
    
color:  #fff;
    
padding-bottom:  15px;
}
.bannerText h4{
    
color:  #fff;
    
padding-bottom:  20px;
}
.buttonDiv{
    
margin-top:  20px;
}
.buttonDiv button{
    background:  #f8cd53;
    color:  #fff;
    font-weight:  bold;
}
/*banner section end*/

/*About us section start*/
.aboutUs{
    min-height: 84.8vh;
    padding-top:  40px;
}
.aboutText{
}
.aboutText h1{
    margin-top:  25px;
    margin-bottom:  0;
    text-transform:  capitalize;
}
.aboutText p{
    margin-bottom:  0 !important;
    color:  black;
}
.aboutText hr{
    width: 7%;
    height:  2px;
    background: #424242;
}
.aboutDiv{
    padding-top:  60px;
}
.aboutDivSet{
}
.aboutDivSet h5{
    font-weight:  bold;
    color:  #424242;
}
.aboutDivSet p{}
.like{font-size:  60px;color:  #688fca;margin-bottom:  15px;}
.book{
    font-size: 55px;
    color:  #de5940;
    margin-bottom:  15px;
}
.message{
    font-size:  60px;
    color:  #5b83c3;
    margin-bottom:  15px;
}
/*About us section end*/

/*protfolio section start*/
.protfolio{
    min-height: 210vh;
    background:  #f3f3f3;
    padding-top:  60px;
}
.approch{
    width:  50%;
    padding-bottom:  35px;
}
.approch h3{
    color:  #424242;
    margin-bottom:  0;
}
.approch p{}
.approch hr{
    width:  10%;
    height:  3px;
    background: #424242;
}
.protImg{
    position:  relative;
}
.protImg img{}
.protImg h6{
    position:  absolute;
    width:  100px;
    height: 100px;
    line-height:  95px;
    background: #de2b24;
    right: -5%;
    bottom: 30%;
    text-align:  center;
    color:  #fff;
}
.protImg1{
    position:  relative;
}
.protImg1 img{}
.protImg1 h6{
    position:  absolute;
    width:  100px;
    height: 100px;
    background: #de2b24;
    left: -8%;
    bottom:  30%;
    color:  #fff;
    text-align:  center;
    line-height: 95px;
}
.protText{
    background:  #fff;
    padding: 20px;
    margin-top:  20px;
}
.protText h6{}
.protText p{}
/*protfolio section end*/

/*work section start*/
.work{
    background:  #de2b24;
    min-height: 125vh;
    padding-top:  60px;
    color:  #fff;
}
.workHeading{
    padding:  30px 0;
}
.workHeading h4{
    font-size:  35px;
}
.workHeading p{
    margin:  0 !important;
    color:  #fff;
}
.workHeading hr{
    width:  8%;
    height:  2px;
    background: #fff;
}
.workEmpty{
    width:  255px;
    height:  253px;
    background: #f35e59;
    position:  relative;
}
.workEmpty i{
    font-size: 55px;
    position:  absolute;
    left:  50%;
    top: 35%;
    transform: translate(-50%,-35%);
}
.workEmpty h3{
    position:  absolute;
    bottom: 30%;
    right:  15%;
}
.workEmpty p{
    color:  #fff;
    position:  absolute;
    bottom:  10%;
    left:  15%;
}

/*work section end*/

/*submit section start*/
 .submit{
    background:  #1287bf;
    min-height: 115vh;
    color:  #fff;
}
 .submitText{
    padding-top: 30px;
}
 .submitText h1{
    font-size:  30px;
    padding-top:  40px;
}
 .submitText p{
    color:  #fff;
}
 .submitText button{
    color:  #fff;
    background: #1287bf;
    border:  0;
    font-size:  50px;
}
form{
    width: 70%;
    height:  60vh;
    background:  #fff;
    margin:  0 auto;
}
 .formDiv{
    padding-top:  50px;
}
 .formDiv .name{
    width: 80%;
    margin: 0 auto;
    display:  block;
    height:  50px;
    border: 2px solid #1287bf;
    border-radius:  15px;
    margin-bottom:  10px;
}
 .formDiv .number{
    width:  80%;
    margin:  0 auto;
    display:  block;
    height:  50px;
    border: 2px solid #1287bf;
    border-radius:  15px;
    margin-bottom:  10px;
}
 .formDiv .company{
    width:  80%;
    display:  block;
    margin:  0 auto;
    height:  50px;
    border: 2px solid #1287bf;
    border-radius:  15px;
    margin-bottom:  20px;
}
 .formDiv button{
    display:  block;
    margin: 0 auto;
}
.formRel{
    position: relative;
}

 .cross{
    position: absolute;
    top: 0;
    right: 14%;
    font-size: 30px;
}

 }
 .cross button{
    background-color:#dc3545;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
 }
 .cross button:hover{
    background:red;
}
/*submit section end*/
footer{background:  #2a2a2a;min-height:  86vh;}
footer h4{
    color:  #fff;
    padding-top: 7%;
}
.lastNav{}
.lastNav li{
    border: 1px solid #887b7b;
    margin-left:  20px;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.lastNav li:hover{
    border: 1px solid red;
}
.lastNav li a{
    color:  #fff;
}
.lastNav li a i{}
.footerText{
    padding-top: 40px;
}
.footerText p{}
.footerText input[type="email"]{
    width:  45%;
    display:  block;
    margin:  0 auto;
    height:  50px;
    background:  #515151;
    border:  0;
    margin-bottom:  20px;
}
.footerText button{
    background: #2a2a2a;
    border: 1px solid #847a7a;
    color:  #fff;
}
.copyRight{
    margin-top:  25px;
    height: 50px;
    background: #4a4848;
}
.copyRight p{
    text-align: center;
    line-height:  50px;
}
